body {
  background-color: rgb(194, 186, 186);
}

nav {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  background-color: rgba(254, 247, 226);
}

button {
  width: 45%;
  border-radius: 30%;
  height: 5em;
  background-color: rgba(255, 223, 127);
  border: none;
  font-weight: bold;
}

nav button:nth-of-type(3) {
  width: 90%;
  order: -1;
  height: 7em;
}
